@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.5rem;

	/*========== Colors ==========*/
	--first-color: #fafafa;
	--text-color: #161513;

	/*========== Font and typography ==========*/
	--body-font: "Space Grotesk", sans-serif;
	--biggest-font-size: 2.375rem;
	--normal-font-size: 0.938rem;
	--smaller-font-size: 0.75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
	:root {
		--biggest-font-size: 5rem;
		--normal-font-size: 1rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: 500;
	color: var(--text-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1024px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.main {
	overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
	position: fixed;
	width: 100%;
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 100;
}

.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	color: var(--text-color);
	display: inline-flex;
}

.nav__logo {
	font-weight: 700;
	font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
	.nav__menu {
		position: fixed;
		background-color: var(--first-color);
		left: 0;
		top: -100%;
		width: 100%;
		padding: 5rem 0 4rem;
		border-radius: 0 0 1.5rem 1.5rem;
		box-shadow: 0 2px 4px hsla(38, 4%, 15%, 0.15);
		transition: 0.4s;
	}
}

.nav__list {
	text-align: center;
	display: flex;
	flex-direction: row;
	column-gap: 3.5rem;
}

.nav__link {
	color: var(--text-color);
}

/* Show menu */
.show-menu {
	top: 0;
}

/*=============== HOME ===============*/
.home {
	background-color: var(--first-color);
	padding: 9rem 0 2rem;
	height: 100vh;
	display: grid;
}

.home__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 2.5rem;
	column-gap: 2rem;
	align-content: center;
	align-items: center;
}

.home__data {
	display: block;
	text-align: initial;
}

.home__title {
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0.75rem 0;
}

.button-container {
	display: flex;
	column-gap: 0.5rem;
}

.home__button {
	margin-top: 2rem;
	display: inline-block;
	background-color: var(--text-color);
	color: #fff;
	padding: 0.8rem 1.5rem;
	border-radius: 1rem;
	transition: 0.4s;
}

.button-alter {
	background-color: #fafafa;
	color: var(--text-color);
	border-color: #000;
	border: solid 1px;
}

.home__input {
	margin-top: 3rem;
}

.input-container {
	display: flex;
	column-gap: 1rem;
}

.input-container input {
	margin-top: 0.5rem;
	width: 18rem;
	height: 2rem;
	padding-left: 0.5rem;
}

.input-container a {
	margin-top: 0.5rem;
	display: inline-block;
	background-color: var(--text-color);
	color: #fff;
	padding: 0.5rem 1.5rem;
	border-radius: 1rem;
	transition: 0.4s;
	font-size: 0.75rem;
}

.home__img img {
	width: 600px;
	animation: floaty 1.8s infinite alternate;
}

.home__img {
	justify-self: center;
}

.home__shadow {
	width: 250px;
	height: 40px;
	background-color: hsla(38, 21%, 19%, 0.16);
	margin: 0 auto;
	border-radius: 50%;
	filter: blur(7px);
	animation: shadow 1.8s infinite alternate;
}

.home__footer {
	text-align: center;
	margin-top: 4rem;
	align-self: center;
	font-size: var(--smaller-font-size);
}

/* Floating animation */
@keyframes floaty {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(15px);
	}
}

@keyframes shadow {
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(0.85, 0.85);
	}
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 1048px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 2048px) {
	body {
		zoom: 1.7;
	}

	.home {
		height: initial;
		row-gap: 4rem;
	}
}

@media screen and (min-width: 3840px) {
	body {
		zoom: 3.1;
	}
}
